code/client/node_modules
code/client/.env
code/server/gateway/__pycache__/__init__.cpython-311.pyc
code/server/gateway/__pycache__/views.cpython-311.pyc
code/server/gateway/__pycache__/urls.cpython-311.pyc
code/server/gateway/__pycache__/serializers.cpython-311.pyc
code/server/gateway/__pycache__/models.cpython-311.pyc
code/server/gateway/__pycache__/apps.cpython-311.pyc
code/server/gateway/__pycache__/admin.cpython-311.pyc
code/serverenv/Scripts/activate
code/serverenv/Scripts/activate.bat
code/serverenv/Scripts/activate.fish
code/serverenv/Scripts/activate.nu
code/serverenv/Scripts/pip.exe
code/serverenv/Scripts/pip3.exe
code/serverenv/pyvenv.cfg
code/serverenv/Scripts/pip3.exe
code/serverenv/Scripts/activate
code/serverenv/Scripts/activate.bat
code/serverenv/Scripts/activate.fish
code/serverenv/Scripts/activate.nu
code/serverenv/Scripts/pip.exe
