.grid-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.header {
  vertical-align: middle;
  margin-top: 65px;
  background-color: var(--customGreen) !important;
  height: 20px !important;
  width: 100% !important;
  font-size: 1.2rem;
}

.header-buttons{
  background-color: #008631;
  border-radius: 25px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: medium;
  color:white;
}

.header-buttons:hover{
  background-color: var(--customDarkGreen);
}

.header-filename{
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  color:white;
}

.cell-name {
  padding-right: 30px;
  padding-left: 30px;
  background-color: var(--customGreen) !important;
  border-radius: 25px;
  margin-right: 10px;
}

.input-field {
  width: 80%;
  display: flex;
}

.value-display {
  background-color: var(--white) !important;
  height: 30px !important;
  color: black;
  font-size: 1.2rem;
  display: flex;
  margin-bottom: 25px !important;
}

.option {
  padding-right: 50px;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(200, 1fr);
  grid-gap: 1px;
  display: block;
}

.grid-row {
  display: flex;
}

@media(max-width:1063px){
  .input-field{
    width: 50% !important;
  }
}

@media(max-width:443px){
  .input-field{
    width: 25% !important;
  }
}

@media(max-width:338px){
  .header-buttons-text{
    display: none;
  }
  .custom-tabs-container{
    width: 100% !important;
  }
}
