.model-container {
    margin: 20px;
  }
  
  .model-label {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 5px;
    margin-right: 8px;
  }
  
  .model-input,
  .model-select {
    padding: 2px; 
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 150px;
    font-size: 12px;
  }
  
  .model-select,
  .model-input,
  .model-button {
    cursor: pointer;
    font-size: 12px;
  }
  
  .model-button {
    background-color: #4caf50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 0; 
    cursor: pointer;
    padding: 8px 25px;
    border-radius: 5px;
  }
  
  .model-button:hover {
    background-color: #45a049;
  }

  .model-container-wrapper {
    position: relative;
    top: 80%;
    transform: translateY(0%);
    background-color: #f4f4f4;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
    width: 220px; 
    height: auto; 
    padding: 10px
  }
  
  .results-container {
    position: relative;
    top: 7%;
    left: calc(100% + 20px);
    transform: translateY(-89%);
    background-color: #ffffff; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 785%; 
    height: auto;
    padding: 10px;
    overflow-y: auto;
  }